<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="/styles.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
    </head>
    <body>
        <header>
                <div class="navbar d-flex justify-content-around p-2 m-0"> 
                    <a class="btn btn-primary" href="/">Home</a>
                    <a class="btn btn-primary" href="addparcel">Add parcel</a> 
                    <a class="btn btn-primary" href="listparcelsall">List all parcels</a>
                    <a class="btn btn-primary" href="listparcelssender">List parcels by sender</a>
                    <a class="btn btn-primary" href="listparcelsweight">List parcels by weight</a>
                    <a class="btn btn-primary" href="delparcel">Delete parcel</a> 
                    <a class="btn btn-primary" href="updateparcel">Update parcel</a>
                </div>            
            <div class="container-fluid mx-0 p-2  banner">
                <h1><img src="/pepe.jpg" height="70" width="70">  Pepe's POMS Week 6</h1>
            </div>
        </header>
    </body>
</html>